<div class="flex flex-col min-w-0 max-w-7xl justify-center mx-auto">

    <!-- Spinner -->
    <div class="mx-auto justify-center items-center" *ngIf="loading">
        <mat-spinner diameter="40"  class="mx-auto"></mat-spinner>
    </div>
    <!-- Spinner End -->

    <section class="text-gray-700 body-font overflow-hidden bg-white" *ngIf="!loading">
        <div class="container px-5 py-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">     
                <!-- Product Image -->
                <img
                    class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                    [src]="getImageUrl(product?.image?.path)" 
                    [alt]="product?.name"
                />  
                <!-- Product Image End--> 
                <!-- Product Info-->
                <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                    <div class="text-sm title-font text-gray-500 tracking-widest">
                        GOODMARKT
                    </div>
                    <div class="text-gray-900 text-3xl title-font font-medium">
                        {{product?.name}}
                    </div>
                    <div class="flex mb-4">
                        <span class="mr-3 text-xs text-secondary">
                            <strong>Free shipping before midnight</strong> - {{hours}}h {{minutes}}m {{seconds}}s left
                        </span>
                    </div>
                    <!-- Product Description -->
                    <p class="leading-relaxed text-justify">
                        {{product?.description}}
                    </p>
                    <!-- Product Description End -->
                    <!-- Product Slug -->
                    <div class="flex flex-col items-start pb-5 border-b-2 border-gray-200 my-5">
                        <div class="flex">
                            <span class="mr-3 text-xs text-secondary">
                                <strong>Slug:</strong> {{product?.slug}}
                            </span>
                        </div>
                    </div>
                    <!-- Product Slug End -->
                    <!-- Product Price and Actions -->
                    <div class="flex">
                        <span class="title-font font-medium text-2xl text-gray-900">
                            {{product?.price | currency:'EUR'}}
                        </span>
                        <button class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Add to cart</button>
                        <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                        </svg>
                        </button>
                    </div>
                    <!-- Product Price and Actions End-->
                </div>
                <!-- Product Info End-->
            </div>
        </div>
    </section>
    <!-- Other products Same Category -->
    <section class="text-gray-700 body-font overflow-hidden bg-white" *ngIf="!loadingOthers">
        <div class="container px-5 pt-12 pb-24 mx-auto">
            <div class="lg:w-4/5 mx-auto flex flex-wrap">
                <!-- Category Title -->
                <div class="text-gray-900 text-3xl title-font font-medium mb-5 w-full text-center">
                    More from <a href="javascript:void(0)" [routerLink]="['/category', category.slug]" class="no-underline hover:underline">{{category.name}}</a>
                </div>
                <!-- Category Title End -->
                <!-- Products Grid -->
                <div class="grid grid-cols-12 gap-4 w-full mx-auto justify-center items-center">
                    <div
                        *ngFor="let categoryProduct of categoryProducts | slice:0:3" 
                        class="col-span-12 sm:col-span-6 lg:col-span-4 max-w-sm bg-white rounded-lg shadow-md mx-auto">
                            <!-- Product Image -->
                            <a href="javascript:void(0)" (click)="goToProduct(categoryProduct)">
                                <img 
                                    class="rounded-t-lg mx-auto h-48 w-96 object-cover" 
                                    [src]="getImageUrl(categoryProduct.image.path)" 
                                    [alt]="categoryProduct.name" />
                            </a>
                            <!-- Product Image End -->
                            <div class="px-5 py-5">
                                <a href="javascript:void(0)" (click)="goToProduct(categoryProduct)">
                                    <!-- Product title -->
                                    <div class="text-xl font-semibold tracking-tight text-gray-900">
                                        {{categoryProduct.name}}    
                                    </div>
                                    <!-- Product title End -->
                                    <!-- Product Slug -->
                                    <div class="text-xs text-secondary tracking-tight text-gray-900">
                                        {{categoryProduct.slug}}    
                                    </div>
                                    <!-- Product Slug End -->
                                </a>
                                <div class="flex items-center mt-2.5 mb-5">
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ml-3">5.0</span>
                                </div>
                                <div class="flex justify-between items-center">
                                    <!-- Product Price -->
                                    <span class="text-xl font-bold text-gray-900">
                                        {{categoryProduct.price | currency:'EUR'}}
                                    </span>
                                    <!-- Product Price End -->
                                    <!-- Add to Cart Button -->
                                    <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                        Add to cart
                                    </a>
                                    <!-- Add to Cart Button End -->
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Products Grid End --> 
            </div>
        </div>
    </section>
    <!-- Other products Same Category End -->
</div>

